<div class='navigation'>

  <form action="/" method="get" style="display: inline-block; margin-top: 20px">
    <input type="submit" value="Home">
  </form>

  <form action="\users\new" method="get" style="display: inline-block">
    <input type="submit" value="Sign-Up">
  </form>

  <form action="\sessions\login" method="get" style="display: inline-block">
    <input type="submit" value="Log-In">
  </form>

</div>