
<script src='/javascripts/scripts_tictactoe.js'>newGame();</script>

<H1>Tic Tac Toe</H1>

<div class="ttt-left">
	<ul id="new_game" style="margin-top: 40px;">Start a New Game with:
  	<% @users.each do |user| %>
    	<% if (user.id != current_user.id) && !(Tictactoe.find_by(player1_ID: user.id)) && !(Tictactoe.find_by(player2_ID: user.id)) %>
      	<li><a href="" class="startnewgame" id="<%= user.id %>"><%= user.username %></a></li>
    	<% end %>
  	<% end %>
	</ul>
	<p href="" id="my_turn"></p> 
</div>

<div class="ttt-right">
	<table>
  	<tr class="tr1"><td id="board0">_</td><td id="board1">_</td><td id="board2">_</td></tr>
  	<tr class="tr2"><td id="board3">_</td><td id="board4">_</td><td id="board5">_</td></tr>
  	<tr class="tr3"><td id="board6">_</td><td id="board7">_</td><td id="board8">_</td></tr>
	</table>
</div>


