<h2>Log In</h2>
<form action="/sessions" method="post">
  <input type="text" name="username" placeholder = '...username'>
  <br>
  <input type="password" name="password" placeholder = '...password'>
  <br>
  <br>
  <button type="submit" value="Log-In">LOG IN</button>
</form>


