<h2>Sign Up</h2>
<form id='new-user' action="/users" method="post">
  <input type="text" name="user[username]" placeholder='...username'>
  <br>
  <input type="password" name="password" placeholder="...password">
  <br>
  <input type="password" name="password_verification" placeholder="...password again">
  <br>
  <br>
  <button type="submit" value="Sign-Up">Sign Up</button>
</form>
